 # Arquivos e diretórios Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Diretórios de ambiente virtual
venv/
ENV/

# Diretórios do projeto
downloads/
transcricoes/

# Arquivos de mídia
*.mp3
*.mp4
*.wav

# IDEs e editores
.idea/
.vscode/
*.swp
*.swo

# Sistema operacional
.DS_Store
Thumbs.db
logs/ 
app.log 
origin) 
estrutura.txt 
